<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721905380358-6ke822mpaipcrmlbq5jubguvck4bmgbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721905380358-6ke822mpaipcrmlbq5jubguvck4bmgbt</string>
	<key>API_KEY</key>
	<string>AIzaSyBcDU7MNYo0xLsLcrncTG4s2bhKOVg7Xys</string>
	<key>GCM_SENDER_ID</key>
	<string>721905380358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookTracker</string>
	<key>PROJECT_ID</key>
	<string>booktrackerapp-31185</string>
	<key>STORAGE_BUCKET</key>
	<string>booktrackerapp-31185.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721905380358:ios:97462482e49e5351ef2787</string>
</dict>
</plist>